.land{
    width:100%;
    min-height:100vh;
    position:relative;
    display:flex;
    align-items:center;
}
.land .info{
    position:relative;
    z-index:3;
    color:#fff;
}
.land .info h4{
    margin-top:15px;
}
.land .info span{
    color:var(--main-color)
}
.land img{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    z-index:1;
    background-size: cover;
}
.land::after{
    position:absolute;
    top:0;
    left:0;
    content:'';
    width:100%;
    height:100%;
    background-color:rgba(34, 34, 34, 0.919);
    z-index: 2;
}