:root{
  --main-color:#009e66;
  --par-color:#9f9f9f;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.already-component {
  width:280px;
  margin:0px auto 40px;
  text-align:center;
  color:#fff;
  position:relative;
}
.already-component h1{
  font-weight:bolder;
  padding:10px;
}
.already-component::after{
  position:absolute;
  width:60%;
  height:2px;
  left:50%;
  transform:translateX(-50%);
  bottom:-10px;
  background-color: var(--main-color);
  border-radius:5px;
  content:'';
}
  